body {
    background-color: #f0ece2;
    margin: 0;
    overflow: hidden;
}
.container {
    font-family: sans-serif;
    text-align: center;
    display: flex;
    flex-direction: column;
}
.welcome {
    color: #f0ece2;
    background-color: #596e79;
    padding: 20px;
    margin: 0;
}
.secondLine {
    display: flex;
}
.priceList {
    background-color: #c7b198;
    padding: 20px;
    width: 50%;
}
.priceList table {
    border-collapse: collapse;
    width: 100%;
}
.priceList th, .priceList td {
    border: 2px solid #000;
    padding: 8px;
    text-align: center;
}
.contact {
    background-color: #dfd3c3;
    padding: 20px;
    width: 50%;
}
.contact img {
    width: 25px;
    height: 25px;
}
.photo {
    padding: 35px;
}